body {
  margin: 0;
  font-family: "Dela Gothic One", sans-serif;
  background: linear-gradient(to right,#ff4d00,#FFFFFF,#00bfff );
  color: white;
  text-align: center;
  overflow: hidden;
}
.loading-screen {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
  text-shadow:
    0 0 5px #000000;
  font-family: 'Dela Gothic One', sans-serif;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right,#ff4d00,#FFFFFF,#00bfff );
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 1;
  transition: opacity 1s ease;
}
.loading-screen.hide {
  opacity: 0;
  pointer-events: none;
}


.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  position: absolute;
  top: 5%;
  font-size: 4rem;
  text-shadow:
    0 0 5px #000000;
  margin: 0 auto;
  z-index: 10;
}

.chart {
  position: relative;
}

canvas {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  z-index: 1;
}

.percent {
  position: absolute;
  font-size: 2.5rem;
  font-weight: bold;
}

.left {
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  color: #ff8000;
  font-size: 100px;
  z-index: 3;
  text-shadow:
    0 0 5px #ffffff,
    0 0 20px #ffffff,
    0 0 40px #ff0000,
    0 0 80px #ff0000;
}

.right {
  padding-left: 200px;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  color: #00ffff;
  font-size: 100px;
  z-index: 3;
  text-shadow:
    0 0 5px #000000,
    0 0 20px #ffffff,
    0 0 40px #00ffff,
    0 0 80px #0080ff;
}

.vs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: bold;
  z-index: 2;
  color: #d9c511;
  text-shadow:
    0 0 5px #fff,
    0 0 20px #ffffff,
    0 0 40px #ffff00,
    0 0 80px #0080ff;
  padding-top: 400px;
}

.size {
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}
.bmon{
  color: #ffffff;
  position: absolute;
  right: 3%;
  top: 20%;
  font-size: 40px;
  width: 400px;
  text-shadow:
    0 0 5px #000000,
    0 0 40px #00ffff,
    0 0 80px #00ffff;
}
.amon{
  position: absolute;
  left: 3%;
  top: 20%;
  font-size: 40px;
  width: 400px;
  text-shadow:
    0 0 5px #000000,
    0 0 40px #ff8000,
    0 0 80px #ff0000;
}
.bnum{
  color: #ffffff;
  position: absolute;
  right: 15%;
  top: 70%;
  font-size: 50px;
  text-shadow:
    0 0 5px #000000,
    0 0 40px #00ffff,
    0 0 80px #00ffff;
}
.anum{
  position: absolute;
  left: 15%;
  top: 70%;
  font-size: 50px;
  text-shadow:
    0 0 5px #000000,
    0 0 40px #ff8000,
    0 0 80px #ff0000;
}
.num {
  opacity: 0;
  transition: opacity 1s ease-in;
}
.num.show {
  opacity: 1;
}
@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.7; }
  100% { opacity: 1; }
}

@keyframes pulse {
  0% { transform: translate(-50%, -50%) scale(1); }
  100% { transform: translate(-50%, -50%) scale(1.1); }
}
@keyframes neonFlicker {
  0% { opacity: 1; text-shadow: 0 0 10px #ff00ff; }
  50% { opacity: 0.8; text-shadow: 0 0 30px #ff3399; }
  100% { opacity: 1; text-shadow: 0 0 50px #ff66cc; }
}
.winner-percent {
  top: 48%;
  font-size: 130px;
  text-shadow:
    0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 40px #ffff00;
    0 0 80px #ffff00;

}

.title-winner-b {
  z-index: 3;
  font-size: 60px;
  animation: glowA 1s infinite alternate;
  color: #ffffff;
}

.title-winner-a {
  font-size: 60px;
  animation: glowB 1s infinite alternate;
  color: #ffffff;
}
.background-winner-a {
  background-color: rgba(255, 255, 255, 0.562);
  background: linear-gradient(to right,#ff4d00,#FFFFFF,#ff4d00);
}
.background-winner-b {
  opacity: 0.9;
  background: linear-gradient(to right,#00bfff,#FFFFFF,#00bfff);
}

@keyframes glowA {
  from {
    text-shadow:
    0 0 5px #000000,
    0 0 40px #00ffff,
    0 0 80px #00ffff;
    transform: scale(0.5);
  }
  to {
    text-shadow:
    0 0 5px #000000,
    0 0 40px #00ffff,
    0 0 80px #00ffff;
    transform: scale(1.0);
  }
}
@keyframes glowB {
  from {
    text-shadow:
      0 0 5px #ff3333,
      0 0 10px #ff6666,
      0 0 15px #0080ff;
    transform: scale(1);
  }
  to {
    text-shadow:
      0 0 15px #ff6666,
      0 0 30px #ff3333,
      0 0 40px #ff0000;
    transform: scale(1.05);
  }
}


