
.red {
  background-image: url("../img/red6.jpg");
  background-size: cover;
  background-position-y: 60%;
}

.blue {
  background-size: cover;
  background-image: url("../img/back.jpg");
  background-position-y: 65%;
}

/* #target{
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} */

body {
  margin: 0;
  font-family: "Dela Gothic One", sans-serif;
  color: white;
  text-align: center;
  overflow: hidden;
}

.title {
  /* top:  5%; */
  font-size: 8rem;
  text-shadow:
    0 0 5px #000000,
    0 0 40px #ff3399,
    0 0 80px #ff3399;
}

.gif {
  height: 25%;
  width: 25%;
}

.text {
  font-size: 2rem;
  text-shadow:
  0 0 5px #000000,
  0 0 40px #00ffff,
  0 0 80px #0080ff;
}